.avatar-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.avatar {
    height: 120px!important;
    width: 120px!important;
    transition: .2s;
}

.avatar:hover {
    transition: .3s;
    background-color: #f50057;
}

.colorTheme {
    color: #f50057!important;
}

.margin {
    margin-bottom: 2em!important;
}

.formLogin {
    display: flex;
    flex-direction: column;
}